#containerGames {
  overflow: auto;
  position: absolute;
  top: 110px;
  z-index: 1;
  width: 100%;
  height: 82svh;
  display: flex;
  justify-content: space-around;
  gap: var(--pc-gap-l);
  padding: 100px;
}

#game01,
#game02,
#game03 {
  position: relative;
  min-width: 300px;
  width: 30%;
  height: 70%;
  border-radius: 10px;
  padding: var(--pc-padding-m);
  border: 2px solid rgba(0, 0, 0, 0.5);
}
#game01:hover,
#game02:hover,
#game03:hover {
  background-color: rgba(255, 153, 204, 0.5);
}

#game01 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(../3enlinea.png) no-repeat;
  background-size: cover;
}

#game02 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(../Bingo.png) no-repeat;
  background-size: cover;
}

#game03 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(../numeros.png) no-repeat;
  background-size: cover;
}

article button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--pc-color-pink);
  color: white;
  padding: 10px 20px;
  border: 2px solid var(--pc-color-pinkDark);
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

article button:hover {
  background-color: var(--pc-color-pinkDark);
}

@media screen and (max-width: 768px) {
  header,
  footer {
    position: static;
  }

  #containerGames {
    margin-top: var(--pc-margin-m);
    margin-bottom: var(--pc-margin-m);
    padding: var(--pc-padding-xl);
  }
}
