#bingoGame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 10px;
  flex-direction: column;

  margin-bottom: 100px;
}

#bingoBoard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bingo-board {
  display: flex;
}

.bingo-column {
  display: flex;
  flex-direction: column;
}

.bingo-cell {
  border: 1px solid #333;
  padding: 20px;
  font-size: 24px;
  background-color: var(--pc-color-white);
}

.bingo-cell.marked {
  background-color: #66ff66;
}

#callNumberBtn {
  display: block;
  margin: 0;
}

#calledNumberDisplay {
  font-size: 25px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--pc-color-pinkDark);
  color: var(--pc-color-white);
  border: none;
  border-radius: 5px;
  margin: var(--pc-margin-xs);
}

button:hover {
  background-color: var(--pc-color-pink);
}

#calledNumbersGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 400px;
}

#calledNumbersGrid > div {
  border: 1px solid #333;
  padding: var(--pc-padding-xs);
  margin: 1px;
  font-size: 13px;
}

@media screen and (max-width: 950px) {
  #bingoBoard {
    margin-top: var(--pc-margin-l);
    margin-bottom: var(--pc-margin-s);
  }

  .bingo-cell {
    padding: var(--pc-padding-m);
    font-size: 20px;
  }

  #calledNumberDisplay {
    font-size: 18px;
    margin-bottom: var(--pc-margin-s);
  }

  #calledNumbersGrid > div {
    padding: var(--pc-padding-xs);
    margin: 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 819px) {
  #bingoGame {
    top: 50%;
  }

  #bingoBoard {
    margin-bottom: var(--pc-margin-xs);
  }

  .bingo-cell {
    padding: 15px;
    font-size: 18px;
  }

  #calledNumbersGrid > div {
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
}
